<%- include('header', {title:"ASD_Com", logined:logined}) -%>

    <div class="container">
        <div class="row" style="text-align: center; margin-top: 20%;">
            <div class="col">
                <h1><%= activity.title %></h1>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-8">
                <table style="font-size: 2vh;">
                    <tr>
                        <td>
                            活動簡介：
                        </td>
                        <td>
                            <%= activity.desc %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            活動地點：
                        </td>
                        <td>
                            <%= activity.place %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            活動日期：
                        </td>
                        <td>
                            <%= activity.organise_date %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            活動時間：
                        </td>
                        <td>
                            <%= activity.start_time %> - <%= activity.end_time %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            尚餘名額：
                        </td>
                        <td>
                            <%= activity.max_guest-activity.guest %><span class="text-muted"> / <%= activity.max_guest %></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <iframe
                    width="500px"
                    height="450px"
                    frameborder="0" style="border:0"
                    src="<%= src %>" allowfullscreen>
                </iframe> 
            </div>
        </div>
        <div class="row" align="center">
            <div class="col py-3">
            <% var action = `/activities/event/join/${activity.activity_id}`%> 
                <form method="GET">
                    <% if (!logined) { %>
                        <button class="btn btn-info" style="padding: 10px; width: 120px;" type="submit" disabled="disabled">請登入</button>
                    <% } else if (new Date() >= activity.organise_date) { %>
                        <button class="btn btn-warning" style="padding: 10px; width: 120px;" type="submit" disabled="disabled">已過期</button>
                    <% } else if (activity.max_guest - activity.guest<=0) { %>
                        <button class="btn btn-light" style="padding: 10px; width: 120px;" type="submit" disabled="disabled">已滿人</button>
                    <% } else if (activity.joined) { %>
                        <button class="btn btn-success" style="padding: 10px; width: 120px;" type="submit" disabled="disabled">已參加</button>
                    <% } else { %>
                        <span name="activity_id" style="visibility: hidden;"><%= activity.activity_id %></span>
                        <button class="btn btn-primary" style="padding: 10px; width: 120px;" type="submit" formaction="<%=action%>">報名參加</button>
                    <% } %>
                </form>
            </div>
        </div>
        <% if (logined) { %>
            <% if (activity.friend_list.length>0) { %>
                <div class="container bg-light">
                    <div class="div py-2 row">
                        <div class="col">
                            <h4>你已經參加此活動的好友：</h4>
                        </div>
                    </div>
                    <div class="row py-2">
                        <% activity.friend_list.forEach(friend => { %>
                            <div class="col-4">
                                <div class="card" style="width: 12rem;">
                                    <img class="card-img-top pd-1"
                                        src="<%= friend.img_url %>"
                                        style="padding: 10px;">
                                    <div class="card-body" align="center">
                                        <p class="card-text"><%= friend.user_name %> </p>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            <% } else { %>
                <div class="row" style="margin-top: 20px;">
                    <div class="col" align="center" style="font-size: 2rem; background-color: aliceblue; padding: 10px;">
                        成為你朋友中第一個參加此活動的人
                    </div>
                </div>
            <% } %>
        <% } %>
    </div>

    <%- include('footer') -%>