<%- include('header', {title:"ASD_Com", logined:true}) -%>

    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col">
                <h1><%= activity.title %></h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table style="font-size: 2vh;">
                    <tr>
                        <td>
                            活動簡介：
                        </td>
                        <td>
                            <%= activity.desc %> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            活動地點：
                        </td>
                        <td>
                            <%= activity.place %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            活動日期：
                        </td>
                        <td>
                            <%= activity.organise_date %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            活動時間：
                        </td>
                        <td>
                            <%= activity.start_time %> - <%= activity.end_time %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            尚餘名額：
                        </td>
                        <td>
                            <%= activity.max_guest-activity.guest %><span class="text-muted"> / <%= activity.max_guest %></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3060.0976471446666!2d114.18238931196703!3d22.345489767438885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34040724181ec441%3A0xc68bcf8736b10d00!2z542F5a2Q5bGx5YWs5ZyS54eS54Ok5aC0!5e0!3m2!1szh-TW!2shk!4v1616059358295!5m2!1szh-TW!2shk"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="row" align="center">
            <div class="col py-3">
                <% if (new Date()- organise_date> 0) { %>
                    <button class="btn btn-primary" style="padding: 10px; width: 120px;" type="submit" disabled="disabled">已過期</button>
                <% } else if (max_guest-guest<=0) { %>
                    <button class="btn btn-primary" style="padding: 10px; width: 120px;" type="submit" disabled="disabled">已滿人</button>
                <% } else { %>
                    <button class="btn btn-primary" style="padding: 10px; width: 120px;" type="submit">報名參加</button>
                <% } %>
            </div>
        </div>

        <% if (friends.length>0) { %>
            <div class="container bg-light">
                <div class="div py-2 row">
                    <div class="col">
                        <h4>你已經參加此活動的好友：</h4>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col">
                        <% friends.forEach(friend => { %>
                            <div class="card" style="width: 12rem;">
                                <img class="card-img-top pd-1"
                                    src="<%= friend.img %> "
                                    style="padding: 10px;">
                                <div class="card-body" align="center">
                                    <p class="card-text"><%= friend.name %> </p>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        <% } %>
    </div>

    <%- include('footer') -%>