<%- include('header', {title:"ASD_Com", logined: logined}) -%>
<div class="row" style="background-color: rgb(221, 160, 221); margin-top: 50px;">
    <div class="col p-2" align="center">
        如果您有時間，可以按<a href="https://forms.gle/qemrHWKNtyaBvSo58" target="_blank">此</a>告訴我這個網站的使用感受
    </div>
</div>
<%- include('scrollable_carousel', {my_list: activities}) -%>
<% if (logined) { %>
    <% friends.forEach(friend => { %>
        <div class="card" style="width: 12rem;">
            <img class="card-img-top pd-1"
                src="<%= friend.img %> "
                style="padding: 10px;">
            <div class="card-body" align="center">
                <p class="card-text"><%= friend.name %> </p>
            </div>
        </div>
    <% }); %>
<% } %>
<div class="container py-3" align="center">
    <div class="row">
        <div class="col mx-auto">
            <ul class="list-group shadow my-3">
                <% articles.forEach(article => { %>
                    <li class="list-group-item">
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2" id="activity_title"><%= article.title %> </h5>
                                <p class="font-italic text-muted mb-0">
                                    <%= article.desc %> 
                                </p>
                                <div class="my-1" align="center">
                                    <h6 class="font-weight-bold my-2">
                                        <a href="<%= article.link %>" target="_blank" class="btn btn-primary">了解更多...</a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>

<%- include('footer') -%>
